{
  "extends": ["airbnb", "plugin:jest/recommended", "plugin:jest/style"],
  "plugins": ["jest"],
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "parserOptions": {
    "project": "./jsconfig.json"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "rules": {
    "no-plusplus": "off",
    "max-len": "warn",
    "arrow-parens": "off",
    "import/prefer-default-export": "off",
    "object-curly-newline": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-one-expression-per-line": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "react/prop-types": "off"
  }
}
