.input {
  margin: 20px auto;
  padding-left: 10px;
  height: 40px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

@media (max-width: 414px) {
  .input {
    width: 94%;
  }
}
