.tableContainer {
  width: 70%;
  margin: 50px auto;
}

.input {
  padding-left: 10px;
  height: 40px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.table {
  display: block;
  margin: 8px auto;
  box-shadow: rgba(0, 0, 0, 0.4) 0 1px 7px -1px;
}

.head {
  display: block;
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
}

.row {
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.cell {
  width: 20%;
  text-align: center;
}

.body {
  display: block;
  margin-top: 10px;
}
