.table {
  display: block;
  margin: 8px auto;
  box-shadow: rgba(0, 0, 0, 0.4) 0 1px 7px -1px;
}

.head {
  display: block;
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
}

.row {
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  position: relative;
}

.deleteButton {
  position: absolute;
  right: 10px;
  background-color: #fff;
  border: none;
}

.cell {
  width: 20%;
  text-align: center;
}

.body {
  display: block;
  margin-top: 10px;
}
