@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 1440px) {
  .app {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .app {
    width: 95%;
  }
}

@media (max-width: 414px) {
  * {
    font-size: 12px;
  }

  .app {
    width: 100%;
  }
}
